body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

/*

 .grid-item {
    background-color: hsl(140 0.1 0.1);
    border: black 1px solid;
}

*/


.selection.parent-container {
  display: flex;
  padding: 50px;
  padding-right: 100px;
  flex-direction: column;
}

.child-container {
  width: 200px;
  margin-top: 25px;
}

.seperator {
  width: 50px;
}

h4 {
  margin: 10px;
}

.grid-size.button {
  margin: 50px;
}


.grid-item {
  background: rgb(159, 118, 255);
  
 
}


